.cell {
    width: 75px;
    height: 75px;
    font-size: 2rem;
    padding: 0;
}

/* Mobile */
@media (max-width: 768px) {
    .cell {
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }
    
}

.cell.enable {
    background-color: yellow;
}

.cell.withNumber {
    background-color: gray;
}